[core]
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[push]
	default = current
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
