[core]
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[push]
	default = current
[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
